<header>
  <!-- main container wrapper -->
  <div class="container-fluid mainContainer">
    <!-- legend section   -->
    <div class="row legend">
      <!-- legend introduction text -->
      <div class="col legend__text">
        <header class="introText">
          <h1 class="introText__heading">About <span>Us </span></h1>
          <p class="fs-5">
            Lef.T là thương hiệu thảm và đồ nội thất phong cách tối giản được
            thành lập vào tháng 3/2023, khởi nguồn từ mong muốn có thể cung cấp
            các loại sản phẩm trang trí nội thất đa dạng cho khách hàng. Đến với
            Lef.T, bạn chắc chắn sẽ tìm thấy rất nhiều sự lựa chọn mà không phải
            lăn tăn nhiều về giá cả.
          </p>
          <h1 style="padding-top: 90px; margin-bottom: 25px">
            Chiến Lược của Lef.T Đến Nay
          </h1>
          <p class="fs-5">
            Bằng tất cả đam mê, Lef.T sẽ nỗ lực không ngừng để trở thành một
            trạm dừng chân lý tưởng cho những người yêu không gian sống đẹp. Tại
            Lef.T, bạn có thể tìm thấy nhiều món đồ trang trí không gian sống
            HIỆN ĐẠI, bắt kịp XU HƯỚNG và thân thiện với MÔI TRƯỜNG với mức giá
            cực kì PHẢI CHĂNG.
          </p>
          <h1 style="padding-top: 120px">Lef.T - "Draw your space"</h1>
        </header>
      </div>
    </div>
    <!-- footer section  -->
  </div>
  <!-- <footer class="footer">
              <p class="footer__text">
                Created by
                <a
                  href="https://www.facebook.com/hel0.o812/"
                  target="_blank"
                  rel="noopener"
                  >Duy Anh Tran</a
                >
                &copy;2023
              </p>
            </footer> -->
</header>
