<section style="background-color: #969798; background-size: auto">
  <div class="container py-5 h-100" style="margin-top: 38px">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div
          class="card card-registration card-registration-2"
          style="border-radius: 15px"
        >
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div
                    class="d-flex justify-content-between align-items-center mb-5"
                  >
                    <h1 class="fw-bold mb-0 text-black">Giỏ Hàng</h1>
                  </div>
                  <hr class="my-4" />

                  <div
                    class="row mb-4 d-flex justify-content-between align-items-center"
                    *ngFor="let item of productsInCart"
                  >
                    <!-- THUMBNAIL -->
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="{{ item.product.thumbnail }}"
                        class="img-fluid rounded-3"
                      />
                    </div>
                    <!-- NAME -->
                    <div class="col-md-2 col-lg-3 col-xl-3">
                      <h6 class="text-black mb-0">{{ item.product.name }}</h6>
                      <!-- <h6 class="text-muted">
                        {{ item.material }}
                      </h6> -->
                    </div>
                    <!-- HỌC THÊM CÁCH SỬA số lượng sản phẩm cartBox -->
                    <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                      >
                        <i class="fas fa-minus"></i>
                      </button>

                      <input
                        #inputQuantityElement
                        id="form1"
                        min="0"
                        name="quantity"
                        [value]="item.quantity"
                        type="number"
                        class="form-control form-control-sm"
                        (input)="updateQuantity(inputQuantityElement)"
                      />

                      <button
                        class="btn btn-link px-2"
                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                      >
                        <i class="fas fa-plus"></i>
                      </button>
                    </div> -->

                    <!-- <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button
                        class="btn btn-link px-2"
                        (click)="dec(item.product.quantity)"
                      >
                        <i class="fas fa-minus" style="color: gray"></i>
                      </button>

                      <input
                        id="form1"
                        min="0"
                        name="quantity"
                        value="{{ item.product.quantity }}"
                        type="number"
                        class="form-control form-control-sm"
                      />

                      <button
                        class="btn btn-link px-2"
                        (click)="inc(item.product.quantity)"
                      >
                        <i class="fas fa-plus" style="color: gray"></i>
                      </button>
                    </div> -->

                    <!-- PRICE -->
                    <div class="col-md-5 col-lg-2 col-xl-3 offset-lg-1">
                      <h6 class="mb-0">
                        {{
                          item.product.price * item.product.quantity | number
                        }}
                        VND
                      </h6>
                    </div>
                    <!-- DELETE BTN -->
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a
                        (click)="removeItem(item.id)"
                        class="text-muted"
                        href="/cart"
                        ><i class="fas fa-times"></i
                      ></a>
                    </div>
                  </div>

                  <hr class="my-4" />

                  <div class="pt-5">
                    <h6 class="mb-0">
                      <a routerLink="/store" class="text-body"
                        ><i class="fas fa-long-arrow-alt-left me-2"></i>Tiếp Tục
                        Mua Sắm</a
                      >
                    </h6>
                  </div>
                </div>
              </div>

              <!-- Thanh Toán -->
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Thanh Toán</h3>
                  <hr class="my-4" />

                  <!-- <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">Giỏ Hàng:</h5>
                    <h5>{{ grandTotal | number }} VND</h5>
                  </div> -->

                  <form
                    #paymentForm="ngForm"
                    (ngSubmit)="onSetCart(paymentForm.value)"
                  >
                    <h5 class="text-uppercase mb-3">Phone Number:</h5>

                    <div class="mb-4 pb-2">
                      <!-- <select
                        aria-labelledby="dropdownMenuButton"
                        class="select"
                        ngModel
                        (ngModelChange)="onCityChanged($event)"
                      >
                        <option
                          [ngValue]="city.shippingPrice"
                          *ngFor="let city of citys"
                        >
                          {{ city.info }}
                        </option>
                      </select> -->
                      <div class="input-group mb-3">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Địa Chỉ Cụ Thể:"
                          name="customer_address"
                          ngModel
                        />
                      </div>
                      <div class="input-group mb-3">
                        <input
                          type="number"
                          class="form-control"
                          placeholder="Số Điện Thoại: "
                          style="margin-top: 12px"
                          name="customer_phone"
                          ngModel
                        />
                      </div>
                    </div>

                    <h5 class="text-uppercase mb-3">Giỏ Hàng Của Bạn Gồm:</h5>

                    <div class="mb-5">
                      <div class="form-outline">
                        <div *ngFor="let item of productsInCart">
                          <p>
                            {{ item.product.name }} - Số Lượng:
                            {{ item.product.quantity }}
                          </p>
                        </div>
                      </div>
                    </div>

                    <hr class="my-4" />

                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>{{ grandTotal | number }} VND</h5>
                    </div>

                    <button
                      type="submit"
                      class="btn btn-dark btn-block btn-lg"
                      data-mdb-ripple-color="dark"
                    >
                      Mua Ngay
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
