<div class="container" style="padding-top: 90px">
  <!-- Home cards 1 -->
  <section id="ideas" class="home-cards">
    <div class="cart">
      <img
        src="https://jysk.vn/Data/Sites/1/media/0-new/phong-an/phong-an-2.png"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">phong cách Mid Century Modern</p>
      </div>
    </div>
    <div class="cart">
      <img
        src="https://jysk.vn/Data/Sites/1/media/0-new/phong-an/phong-an-7.png"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">Phong cách Scandinavian</p>
      </div>
    </div>
    <div class="cart">
      <img
        src="https://jysk.vn/Data/Sites/1/media/0-new/phong-an/phong-an-16.png"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">Phong cách Minimalism</p>
      </div>
    </div>
    <!-- <div class="cart">
        <img
          src="https://bizweb.dktcdn.net/100/361/830/files/tham-elephant-2-211d2ba5-45fe-4059-a7d3-6166d4f874bd.jpg?v=1639828248842"
          alt=""
        />
        <div class="text-sm">
          <p class="p-3">phong cách Mid Century Modern</p>
        </div>
      </div> -->
  </section>

  <!-- Xbox -->
  <section class="xbox cart">
    <div class="content">
      <h2>Thảm Trải Sàn</h2>
      <p>
        Ngày nay, thảm trải sàn là một món đồ trang trí không thể thiếu trong
        những căn nhà hiện đại. Thảm trải sàn giúp thể hiện cá tính, phong cách
        cá nhân. Không chỉ có vậy, công năng nổi trội về khả năng thấm hút, lau
        chùi sẽ giúp công việc dọn dẹp dễ dàng hơn bao giờ hết.
      </p>
      <a href="#" class="btn"> Xem Ngay <i class="fas fa-arrow-right"></i> </a>
    </div>
  </section>

  <!-- Home cards 2 -->
  <section class="home-cards">
    <div class="cart">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/files/tham-elephant-2-211d2ba5-45fe-4059-a7d3-6166d4f874bd.jpg?v=1639828248842"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">phong cách Mid Century Modern</p>
      </div>
    </div>
    <div class="cart">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/sofa-squidy-2.jpg?v=1665996925843"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">Phong cách Minimalism</p>
      </div>
    </div>
    <div class="cart">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/files/tham-check-den-1.jpg?v=1639828570382"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">Phong cách Scandinavian</p>
      </div>
    </div>
    <div class="cart">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/sofa-squidy-2.jpg?v=1665996925843"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">Phong cách Retro</p>
      </div>
    </div>
    <div class="cart">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/ghe-elise-16.jpg?v=1662174722653"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">Phong cách Minimalism</p>
      </div>
    </div>
    <div class="cart">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/group-15-2.jpg?v=1666851375477"
        alt=""
      />
      <div class="text-sm">
        <p class="p-3">phong cách Retro</p>
      </div>
    </div>
  </section>

  <!-- Carbon -->
  <section class="carbon dark cart">
    <div class="content">
      <h2>Cửa Hàng</h2>
      <p>Vào Ngay Store Của Nhà Lef.T</p>
      <a href="store" class="btn">
        Xem Ngay <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </section>

  <!-- Follow -->
  <section class="follow">
    <p>Follow Lef.T</p>
    <a href="https://www.facebook.com/hel0.o812/">
      <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/dy._.ah/">
      <img
        style="max-width: 37px; max-height: 37px"
        class="img-thumbnail"
        src="https://www.edigitalagency.com.au/wp-content/uploads/new-Instagram-logo-png-full-colour-glyph-1200x1199.png"
        alt="Twitter"
      />
    </a>
    <a href="https://github.com/hehoha3">
      <img
        style="max-width: 37px; max-height: 37px"
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        alt="Linkedin"
      />
    </a>
  </section>

  <!-- Links -->
  <!-- <section class="links">
          <div class="links-inner">
            <ul>
              <li><h3>Trợ Giúp</h3></li>
              <li><a href="#">Đặt hàng & Thanh toán</a></li>
              <li><a href="#">Vận chuyển & Giao hàng</a></li>
              <li><a href="#">Đổi & Trả hàng</a></li>
              <li><a href="#">Hướng dẫn vệ sinh</a></li>
            </ul>
            <ul>
              <li><h3>Showroom</h3></li>
              <li>
                <h6>Showroom Tp. Đà Nẵng:</h6>
                <p>
                  Địa chỉ: Số 484 đường Trần Đại Nghĩa, Phường Hòa Quý, Quận Ngũ Hành
                  Sơn, TP. Đà Nẵng
                </p>
              </li>
            </ul>
            <ul>
              <li><h3>_____________</h3></li>
              <li>
                <h6>Showroom Tp. Vinh:</h6>
                <p>
                  Địa chỉ: Số 5 đường Phượng Hoàng, Phường Trung Đô, TP. Vinh, Nghệ An
                </p>
              </li>
            </ul>
            <ul>
              <li><h3>Số điện thoại</h3></li>
              <li>
                <p>0329912644</p>
              </li>
            </ul>
            <ul>
              <li><h3>Developer</h3></li>
              <li><a href="#">Visual Studio</a></li>
              <li><a href="#">Windowszs Dev Center</a></li>
              <li><a href="#">Developer Network</a></li>
              <li><a href="#">TechNet</a></li>
              <li><a href="#">Microsoft Developer</a></li>
            </ul>
            <ul>
              <li><h3>Company</h3></li>
              <li><a href="#">Careers</a></li>
              <li><a href="#">About Microsoft</a></li>
              <li><a href="#">Company news</a></li>
              <li><a href="#">Privacy at Microsoft</a></li>
              <li><a href="#">Inverstors</a></li>
            </ul>
          </div> -->
  <!-- </section> -->

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-inner">
      <div>
        <p class="fs-6">Showroom:</p>
        Địa chỉ: Số 484 đường Trần Đại Nghĩa , Phường Hòa Quý, Quận Ngũ Hành
        Sơn, TP. Đà Nẵng
      </div>
      <div>| Số 5 đường Phượng Hoàng , Phường Trung Đô, TP. Vinh, Nghệ An</div>
    </div>
    <div class="footer-inner">
      <div>
        <p class="fs-6">Số Điện Thoại:</p>
        0329912644
      </div>
    </div>
  </footer>
</div>
