<header>
  <!-- main container wrapper -->
  <div class="container-fluid mainContainer">
    <!-- legend section   -->
    <div class="row legend">
      <!-- legend introduction text -->
      <div class="col legend__text">
        <div class="introText">
          <h1 class="introText__heading">
            Shop <span>slightly used </span>furniture <span>&</span> home
            decors.
          </h1>
          <p class="introText__link">
            <a href="#Visit">Check out our collection </a>
          </p>
        </div>
      </div>
    </div>
    <!-- footer section  -->
  </div>
  <!-- <footer class="footer">
            <p class="footer__text">
              Created by
              <a
                href="https://www.facebook.com/hel0.o812/"
                target="_blank"
                rel="noopener"
                >Duy Anh Tran</a
              >
              &copy;2023
            </p>
          </footer> -->
</header>
<div class="container">
  <!-- Home cards 1 -->
  <section class="home-cards">
    <button class="cart btn" [routerLink]="'store/3'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/gheskye1.jpg?v=1677814002670"
        alt=""
      />
      <div class="text-sm">
        <h5>Ghế Skye</h5>
        <p class="p-3">11,790,000 VND</p>
      </div>
    </button>
    <button class="cart btn" [routerLink]="'store/4'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/sofa-lithos-2.jpg?v=1673581685973"
        alt=""
      />
      <div class="text-sm">
        <h5>Ghế sofa Lithos</h5>
        <p class="p-3">22,890,000 VND</p>
      </div>
    </button>
    <button class="cart btn" [routerLink]="'store/1'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/ghe-hamorny-16.jpg?v=1666081256903"
        alt=""
      />
      <div class="text-sm">
        <h5>Ghế sofa Harmony</h5>
        <p class="p-3">15,690,000 VND</p>
      </div>
    </button>
    <button class="cart btn" [routerLink]="'store/2'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/sofa-bellini-20.jpg?v=1678861238100"
        alt=""
      />
      <div class="text-sm">
        <h5>Ghế sofa Bellini</h5>
        <p class="p-3">15,390,000 VND</p>
      </div>
    </button>
  </section>

  <!-- Xbox -->
  <section class="xbox cart">
    <div class="content">
      <h2>Thảm Trải Sàn</h2>
      <p>
        Ngày nay, thảm trải sàn là một món đồ trang trí không thể thiếu trong
        những căn nhà hiện đại. Thảm trải sàn giúp thể hiện cá tính, phong cách
        cá nhân. Không chỉ có vậy, công năng nổi trội về khả năng thấm hút, lau
        chùi sẽ giúp công việc dọn dẹp dễ dàng hơn bao giờ hết.
      </p>
      <a routerLink="store/category/3" class="btn">
        Xem Ngay <i class="fas fa-arrow-right"></i
      ></a>
    </div>
  </section>

  <!-- Home cards 2 -->
  <section class="home-cards">
    <button class="cart btn" [routerLink]="'store/10'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/ban-tauros.jpg?v=1666592163617"
        alt=""
      />
      <div class="text-sm">
        <h5>Bàn Tauros</h5>
        <p class="p-3">4,690,000 VND</p>
      </div>
    </button>
    <button class="cart btn" [routerLink]="'store/11'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/ban-rio1.jpg?v=1654758316597"
        alt=""
      />
      <div class="text-sm">
        <h5>Bàn Rio</h5>
        <p class="p-3">4,590,000 VND</p>
      </div>
    </button>
    <button class="cart btn" [routerLink]="'store/12'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/ban-elip-nau-8.jpg?v=1669797210837"
        alt=""
      />
      <div class="text-sm">
        <h5>Bàn Elip</h5>
        <p class="p-3">1,490,000 VND</p>
      </div>
    </button>
    <button class="cart btn" [routerLink]="'store/9'">
      <img
        src="https://bizweb.dktcdn.net/100/361/830/products/ban-tra-laci-9.jpg?v=1675244270280"
        alt=""
      />
      <div class="text-sm">
        <h5>Bàn trà Laci</h5>
        <p class="p-3">5,990,000 VND</p>
      </div>
    </button>
  </section>

  <!-- Carbon -->
  <section class="carbon dark cart">
    <div class="content">
      <h2>Chia Sẻ & Ý Tưởng Decor</h2>
      <p>
        Nơi mọi ý tưởng Decor cho căn nhà của bạn rộng hơn, đẹp hơn, tiện nghi
        hơn.
      </p>
      <a href="share-ideas" class="btn">
        Xem Ngay <i class="fas fa-arrow-right"></i>
      </a>
    </div>
  </section>

  <!-- Follow -->
  <section class="follow">
    <p>Follow Lef.T</p>
    <a href="https://www.facebook.com/hel0.o812/">
      <img src="https://i.ibb.co/LrVMXNR/social-fb.png" alt="Facebook" />
    </a>
    <a href="https://www.instagram.com/dy._.ah/">
      <img
        style="max-width: 37px; max-height: 37px"
        class="img-thumbnail"
        src="https://www.edigitalagency.com.au/wp-content/uploads/new-Instagram-logo-png-full-colour-glyph-1200x1199.png"
        alt="Twitter"
      />
    </a>
    <a href="https://github.com/hehoha3">
      <img
        style="max-width: 37px; max-height: 37px"
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        alt="Linkedin"
      />
    </a>
  </section>

  <!-- Links -->
  <!-- <section class="links">
        <div class="links-inner">
          <ul>
            <li><h3>Trợ Giúp</h3></li>
            <li><a href="#">Đặt hàng & Thanh toán</a></li>
            <li><a href="#">Vận chuyển & Giao hàng</a></li>
            <li><a href="#">Đổi & Trả hàng</a></li>
            <li><a href="#">Hướng dẫn vệ sinh</a></li>
          </ul>
          <ul>
            <li><h3>Showroom</h3></li>
            <li>
              <h6>Showroom Tp. Đà Nẵng:</h6>
              <p>
                Địa chỉ: Số 484 đường Trần Đại Nghĩa, Phường Hòa Quý, Quận Ngũ Hành
                Sơn, TP. Đà Nẵng
              </p>
            </li>
          </ul>
          <ul>
            <li><h3>_____________</h3></li>
            <li>
              <h6>Showroom Tp. Vinh:</h6>
              <p>
                Địa chỉ: Số 5 đường Phượng Hoàng, Phường Trung Đô, TP. Vinh, Nghệ An
              </p>
            </li>
          </ul>
          <ul>
            <li><h3>Số điện thoại</h3></li>
            <li>
              <p>0329912644</p>
            </li>
          </ul>
          <ul>
            <li><h3>Developer</h3></li>
            <li><a href="#">Visual Studio</a></li>
            <li><a href="#">Windowszs Dev Center</a></li>
            <li><a href="#">Developer Network</a></li>
            <li><a href="#">TechNet</a></li>
            <li><a href="#">Microsoft Developer</a></li>
          </ul>
          <ul>
            <li><h3>Company</h3></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">About Microsoft</a></li>
            <li><a href="#">Company news</a></li>
            <li><a href="#">Privacy at Microsoft</a></li>
            <li><a href="#">Inverstors</a></li>
          </ul>
        </div> -->
  <!-- </section> -->

  <!-- Footer -->
  <footer class="footer">
    <div class="footer-inner">
      <div>
        <p class="fs-6">Showroom:</p>
        <p style="margin-left: 20px"></p>
        Địa chỉ: Số 484 đường Trần Đại Nghĩa , Phường Hòa Quý, Quận Ngũ Hành
        Sơn, TP. Đà Nẵng
      </div>
      <div>| Số 5 đường Phượng Hoàng , Phường Trung Đô, TP. Vinh, Nghệ An</div>
    </div>
    <div class="footer-inner">
      <div>
        <p class="fs-6">Số Điện Thoại:</p>
        <p style="margin-left: 20px">0329912644</p>
      </div>
    </div>
  </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
